/* 按钮已通过内联样式调整，可根据需要添加更多样式 */
#modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
    z-index: 999; /* 确保遮罩层位于页面内容之上，但低于 Panel 的层级 */
    display: flex; /* 启用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

#addArrayPanel, #addDoublePanel, #addHeadPanel, #addEndPanel, #addSingleIdPanel, #addReventadoPanel, #addTotalPanel {
    width: 30%; /* 设置宽度为30% */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* 可选：添加阴影效果提升视觉效果 */
    background-color: white; /* 或其他背景 */
    border: 1px solid #ccc; /* 边框，可根据需要调整 */
    padding: 20px; /* 内边距 */
}
/* 媒体查询 */
@media (max-width: 768px) {
    #addArrayPanel, #addDoublePanel, #addHeadPanel, #addEndPanel, #addSingleIdPanel, #addReventadoPanel, #addTotalPanel {
        width: 90%; /* 在屏幕宽度小于768px时，设置宽度为100% */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* 可选：添加阴影效果提升视觉效果 */
        background-color: white; /* 或其他背景 */
        border: 1px solid #ccc; /* 边框，可根据需要调整 */
        padding: 20px; /* 内边距 */
    }
}
